<section ng-controller="AddGearCtrl" class="add-gear-to-section">
    
    <div class="add-amplifier-to-section">
        <button class="btn btn-warning" ng-click="showAmplifiers()">Add Amplifier</button>
    </div>

        <div ng-show="showAmplifierOptions">
            Select a Amplifier:
            <p>Brand:</p>
            <select style="display: block" 
                ng-model="amplifiers.id"
                ng-change="linkAmplifierSettings(amplifiers.id)"
                ng-options="amplifier.brand for amplifier in amplifiers"></select>
                
            <p>Model:</p>
            <select style="display: block"
                ng-model="amplifiers.id"
                ng-change="linkAmplifierSettings(amplifiers.id)"
                ng-options="amplifier.model for amplifier in amplifiers"></select>


            <div id="set-settings" ng-repeat="setting in settings.settings">
                {{setting}}: <input type="number"></input>
            </div>
        </div>

    <div class="add-guitar-to-section">
        <button class="btn btn-warning" ng-click="showGuitars()">Add Guitar</button>

        <div ng-show="showGuitarOptions">
            Select a Guitar:
            <p>Brand:</p>
            <select style="display: block" 
                ng-model="guitars.id"
                ng-change="linkGuitarSettings(guitars.id)"
                ng-options="amplifier.brand for amplifier in guitars"></select>
                
            <p>Model:</p>
            <select style="display: block"
                ng-model="guitars.id"
                ng-change="linkGuitarSettings(guitars.id)"
                ng-options="amplifier.model for amplifier in guitars"></select>


            <div id="set-settings" ng-repeat="setting in settings.settings">
                {{setting}}: <input type="number"></input>
            </div>
        </div>
    </div>

    <div class="add-pedal-to-section">
        <button class="btn btn-warning" ng-click="showPedals()">Add Pedal</button>

        <div ng-show="showPedalOptions">
            Select a Pedal:
            <p>Brand:</p>
            <select style="display: block" 
                ng-model="pedals.id"
                ng-change="linkPedalSettings(pedals.id)"
                ng-options="pedal.brand for pedal in pedals"></select>
                
            <p>Model:</p>
            <select style="display: block"
                ng-model="pedals.id"
                ng-change="linkPedalSettings(pedals.id)"
                ng-options="pedal.model for pedal in pedals"></select>


            <div id="set-settings" ng-repeat="setting in settings.settings">
                {{setting}}: <input min="0" max="10" type="number"></input>
            </div>

        </div>
    </div>
        <div>
            <button>Save Gear to Section</button>
        </div>
</section>