<section class="add-song">
    <div ng-include="'partials/navbar.html'" scope="" onload=""></div>

    <!-- Add New Song Form -->
    <div class="song-form">
        <label>Add Song Title: <input type="text" ng-model="newSong.title" placeholder="Enter Your Song Title"></input>
        </label>
        <label>Add Song Duration: <input type="text" ng-model="newSong.duration" placeholder="Add Song Duration"></input>
        </label>

        <button ng-click="addSong()">Add Song</button>
    </div>
</section>