<section ng-controller="AddGearCtrl" class="add-gear-to-section">
    <div class="add-amplifier-to-section">
        <button class="btn btn-warning">Add Amplifier</button>
    </div>

    <div class="add-guitar-to-section">
        <button class="btn btn-warning">Add Guitar</button>
    </div>

    <div class="add-pedal-to-section">
        <button class="btn btn-warning" ng-click="showPedals()">Add Pedal</button>

        <div ng-show="showPedalOptions">
            Select a Pedal:
            <p>Brand:</p>
            <select style="display: block" 
                ng-model="pedals.id"
                ng-change="linkSettings(pedals.id)"
                ng-options="pedal.brand for pedal in pedals"></select>
                <!-- <option ng-repeat="pedal in pedals" value="{{pedal.brand}}"></option> -->
                <!-- State selected: {{pedal.brand}} {{pedal.model}} -->
            <p>Model:</p>
            <select style="display: block"
                ng-model="pedals.id"
                ng-change="linkSettings(pedals.id)"
                ng-options="pedal.model for pedal in pedals"></select>
                <!-- <option ng-repeat="pedal in pedals" value="{{pedal.model}}"></option> -->


            <div id="set-settings" ng-repeat="setting in settings.settings">
                {{setting}}: <input min="0" max="10" type="number"></input>
            </div>


            <div>
                <button>Save Gear Settings</button>
            </div>
        </div>
    </div>
</section>