<section class="my-gear">
    <div ng-include="'partials/navbar.html'" scope="" onload=""></div>
    
    <div ng-include="'partials/pedal-list.html'" scope="" onload=""></div>
        <div>
            <a href="#/add-pedal">Add New Pedal ></a>
        </div>

    <div ng-include="'partials/amplifier-list.html'" scope="" onload=""></div>
        <div>
            <a href="#/add-amplifier">Add New Amplifier ></a>
        </div>

    <div ng-include="'partials/guitar-list.html'" scope="" onload=""></div>
        <div>
            <a href="#/add-guitar">Add New Guitar ></a>
        </div>
</section>