<section class="song-details">
    <div ng-include="'partials/navbar.html'" scope="" onload=""></div>
    &lt;&lt; <a href="/#songs-list">Back to song listings</a>
    <div autoscroll="true">

            <!-- <div ng-hide="editorEnabled">
              {{selectedSong.title}}
              <button ng-click="enableEditor()">Edit title</button>
            </div>
                <div ng-show="editorEnabled">
                  <input ng-model="editableTitle" ng-show="editorEnabled">
                  <button ng-click="save()">Save</button>
                  or
                  <button ng-click="disableEditor()">Cancel</button>.
                </div>
            </div> -->
         
        <div>
            <h3>{{ selectedSong.title }}</h3>
            <!-- <h4>Song Duration: {{selectedSong.duration}} seconds </h4> -->
            <h4 ng-show="duration">Song Duration: {{songDuration}} seconds </h4>
        </div>
       

            <div ng-repeat="section in selectedSong.songSections">{{section.id}}:  {{section.length}} seconds</div>
        
        <div ng-show="duration">
            <h4>Song Duration: {{songDuration}} seconds </h4>
        </div>
        <div class="section-details" 
             ng-show="duration" 
             ng-repeat="section in sections" 
             ng-if="section.length != 0">
            <p>{{section.id}}: {{section.length}} seconds</p>
            <button class="add-gear">
                <a href="#/add-gear/${$routeParams.sectionid}">Add Gear to {{section.id}}</a>
            </button>
            <button class="delete delete-section" ng-click="deleteSection()">Delete {{section.id}}</button>
        </div>
        
        
        <button class="add-sections" ng-click="showSections()">Add Sections</button>

        <div ng-repeat="currentSection in sections" ng-show="showSongSections">    
            <label class="song-section">
                <input class="section-length" 
                        type="checkbox" 
                        name="songSections" 
                        ng-model="song.sections.id" 
                        ng-show="showSongSections" 
                        ng-click="sectionLength(currentSection)">
            <span>{{ currentSection.id }}</span>
            </label>
            <input class="section-length" 
                    type="text" 
                    name="sectionLength" 
                    autofocus="autofocus" 
                    placeholder="Enter section length in seconds" 
                    ng-model="currentSection.length" 
                    ng-show="currentSection.visible">
        </div>

        <button ng-click="calculateDuration()">Add Sections to Song</button>

        <button class="delete delete-song" ng-click="deleteSong()">Delete Song</button>
    </div>
</section>
