body {
    font-size: 1.2em;
}

.authentication {
    padding: .3em;
    max-width: 25em;
    text-align: center;
    margin: 0 auto;
}

.delete {
    margin-top: 5em;
}

.add-song {
    margin: 1.5em;
    text-align: center;
}

.add-section {
    display: block;
    margin-top: 1em;
}

nav ul li a {
    text-decoration: none;
    margin: 0 auto;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin: 0 0.6em;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

input {
    margin: .3em;
}

label.song-section {
    display: block;
}

label {
    display: block;
}

a {
    text-decoration: none;
}