nav ul li a {
    text-decoration: none;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin: 0 0.6em;
}

.authentication {
    padding: .3em;
    max-width: 25em;
    text-align: center;
    margin: .5em;
}

input {
    margin: .3em;
}

label {
    display: block;
}